@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@600&family=Lato:wght@300;400&family=Source+Sans+Pro:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --title: #ECE4EF;
    --description: #D8CEDE;
    --description-info: #9C83A7;
}

body {
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(102.32deg, #030422 -2.74%, #090114 101.6%); */
    background: linear-gradient(167.96deg, #8257e5 0%, #271a45 100%) no-repeat fixed;
    display: flex;
    justify-content: center;
    /* alinhar na horizontal */
    align-items: center;
    /*alinhar na vertical */
}

.container {}

.cards {
    display: flex;
    align-items: center;
   /* gap: 32px; */
   
}

.card-back {
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 348px;
    height: 486px;
    box-shadow: 0px 113px 45px rgba(0, 0, 0, 0.02), 0px 64px 38px rgba(0, 0, 0, 0.08), 0px 28px 28px rgba(0, 0, 0, 0.13), 0px 7px 16px rgba(0, 0, 0, 0.15), 0px 0px 0px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
     margin: auto -35px 
    
}

/* : pseudo classe */
.card-back:first-child {
    background-image: url(./assets/card-back/bg-card-left.png);
    font-size: 32px;

}

.card-back:last-child {
    background-image: url(./assets/card-back/bg-card-right.png);
    font-size: 32px;
}

.card-back h1 {
    -webkit-text-stroke: 1px #312D74;
    -webkit-text-fill-color: transparent;
}

.card-front {
    object-fit: cover;
    background-image: url(./assets/card-front/bg.png);
    width: 436px;
    height: 608px;
    border-radius: 20px;
    box-shadow: 0px 294px 118px rgba(0, 0, 0, 0.03), 0px 165px 99px rgba(0, 0, 0, 0.1), 0px 73px 73px rgba(0, 0, 0, 0.17), 0px 18px 40px rgba(0, 0, 0, 0.2), 0px 0px 0px rgba(0, 0, 0, 0.2);
    position: relative;
}

.card-info header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 263px;
  
}

.card-info {
    padding: 48px 133px 60px 40px;
}

.card-info h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
    color: var(--title);
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.4);


}
.card-info span{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--description-info);
   /* margin-bottom: 60px; */
}

.card-info h4{ 
    font-size: 14px;
    font-weight: 700px;
    color: var(--description);

}

.character img{
    position: absolute;
    bottom: 0;
    right: 0px;
    
}

aside{
    display: flex;
    flex-direction: column;
    width: 198px;
    margin-top: 60px;
    gap: 16px;
}
